

.contact__option-title {
	position: absolute;
    font-size: 2.4rem;
    font-family: $kaushan;
}

.form-title {
	top: 36px;
    left: 10px;
    color: #e09f66;
}

.contact__wrapper {
	max-width: 1340px;
	background: #fff;
	margin: 140px auto 0 auto;
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 11px 20px -10px rgba(0, 0, 0, 0.66);
}

.contact__form {
	flex: 1;
	max-width: 50%;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	padding: 80px 0 33px 10px;
}

.textarea {
	font-family: $mainFont;
	display: block;
	resize: none;
	width: 100%;
	box-sizing: border-box;
	height: 200px;
	font-size: 1.6rem;
	padding: 10px 0 0 5px;
	border: 2px solid #e09f66;
	margin: 0;
}

.form__input{
	font-family: $mainFont;
	width: 100%;
	box-sizing: border-box;
	font-size: 1.6rem;
	padding: 0 0 0 5px;
	border: 2px solid #e09f66;
}

.form__submit {
	font-family: $mainFont;
	width: 100%;
	background: #e09f66;
	color: #fff;
	font-size: 1.8rem;
	border: none;
	height: calc(1.8rem * 1.5);
	cursor: pointer;
	transition: 0.3s;
	text-transform: capitalize;

	&:hover {
		transition: 0.3s;
		background: #ff8820;
	}
}

.contact__label {
	font-weight: 500;
	margin: 20px 0 5px 0;
	font-size: 1.5rem;
	display: block;
}

.contact__details-wrapper {
	background: #e09f66;
	flex: 1;
	margin: 0 0 0 20px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
    justify-content: flex-start;
    position: relative;
}

.contact__option-details {
	color: #fff;
	top: 36px;
	left: 30px;
}

.list__item {
	color: #fff;
	font-size: 2rem;
	margin: 10px 0;

	&::before {
		display: inline-block;
		content: '';
		width: 34px;
		height: 34px;
		border-radius: 50%;
		background: #fff;
		transform: translateY(32%);
		margin: 0 15px 0 30px;
	}
}
