html {
	//font-family: 'Kaushan Script', cursive;
	font-family: 'Roboto', sans-serif; 
	font-size: 10px;
}

body {
	position: relative;
	left: 0;
	overflow-X: hidden;
	transition: 0.5s;
}

.text2x {
	font-size: 15px;
}

//======VARIABLES=====
//==========================

$brown: #713d16;
$blackText: #333;
$greyText: #3d3d3d;
$kaushan: 'Kaushan Script', cursive;
$mainFont: 'Roboto', sans-serif;

.header {
	width: 100%;
	height: 100vh;
	background: url('../img/header__bg.jpg');
	background-position: center;
	background-size: cover;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(96,59,17,0.66);
	}
}

.header__navbar {
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 6.5rem;
	background: rgba(255,255,255,0.9);
	box-shadow: 0px 11px 29px -12px rgba(0,0,0,0.75);
	align-items: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__navcontainer {
	box-sizing: border-box;
	padding: 0 15px;
	width: 1340px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
 
.header__navlogo {
	font-size: 2.4rem;
	font-family: $kaushan;
	flex: 1 1 40%;
	text-transform: uppercase;
}

.navlogo__link {
	text-decoration: none;
	color: #000;
	transition: 0.3s;
	text-align: center;
	&:hover {
		color: $brown;
		transition: 0.3s;
	}
}

.navbar__nav {
	flex: 2 2 60%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.navbar__link {
	font-size: 1.8rem;
	white-space: nowrap;
	color: #000;
	text-decoration: none;
	text-transform: capitalize;
	transition: 0.3s;
	position: relative;
	z-index: 999;

	&:hover {
		transition: 0.3s;
		color: $brown;
	}
}

.navbar__link--not-active {
   pointer-events: none;
   cursor: default;
}

.navbar__link--active{
		color: #ff9f37
/*
	&::after {
	content: '';
	position: absolute;
	display: block;
	top: 100%;
	transform: translateX(-50%);
	border-radius: 30px;
	left: 50%;
	width: 140%;
	height: 2px;
	background: #b3b3b3;
	z-index: -1;
}
*/
}

.buttonsGroup {
	position: absolute;
	top: 20%;
	right: 10%;
	z-index: 10;
}

.header__button-resizetext {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: none;
	margin: 0 5px;
	background: #fff;
	cursor: pointer;
	transition: 0.3s;

	&:disabled {
		transition: 0.3s;
		background: rgba(132,132,132, 0.5);
	}

	&:hover:enabled {
		transition: 0.3s;
		color: #fff;
		background: #ff9f37;
		& svg {
			transition: 0.3s;
			fill: #fff;
		}
	}
}




.header__site-title {
	position: relative;
	z-index: 99;
	font-size: 7.2rem;
	font-family: $kaushan;
	color: #fff;
	transition: 0.4s;
}

.header__desc {
	box-sizing: border-box;
	padding: 0 10px;
	position: relative;
	z-index: 99;
	font-size: 2rem;
	color: #fff;
	max-width: 850px;
	text-align: center;
	margin: 7.2rem 0;
	transition: 0.4s;
}

.header__scroll-down {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	border: none;
	background: rgba(224,159,102,0.55);
	position: relative;
	z-index: 99;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow-ico {
	width: 60%;
	animation: moveArrow 1s alternate infinite;
}

.arrow {
	fill: #fff;
}

@keyframes moveArrow {
	from {
		transform: translateY(-15px);
	}

	to {
		transform: translateY(15px);
	}
}

.section {
	outline: none;
}



